
{
    "version": "2017-02-28",
    "operation": "Scan",
    "filter": {
        "expression": "handle = :handle",
        "expressionValues": {
            ":handle": $util.dynamodb.toDynamoDBJson($ctx.args.filter)
        }
    },
    "limit": 10
}